body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
  color: hsl(229, 6%, 66%);
}

.header {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.header p {
  width: 40%;
  margin-top: 10px;
}

.header > h1:nth-child(1) {
  margin: 0;
  font-weight: lighter;
}

.header > h1:nth-child(2) {
  margin: 0;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  min-width: 0;
  min-height: 0;
}

.card {
  width: 80%;
  height: 48%;
  margin: 15px;
  display: flex;
  min-width: 0;
  min-height: 0;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 3px 5px 5px lightgray;
}

.card h2 {
  font-size: 16px;
}

.card p {
  margin-top: 0;
}

.card img {
  margin-top: 40px;
  align-self: flex-end;
}

.cards-column-one {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}

.cards-column-two {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}

.cards-column-three {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}

.cards-column-one .card {
  border-top: 3px solid hsl(229, 6%, 66%);
}

.cards-column-two .card:nth-child(1) {
  border-top: 3px solid hsl(0, 78%, 62%);
}

.cards-column-two .card {
  border-top: 3px solid hsl(34, 97%, 64%);
}

.cards-column-three .card {
  border-top: 3px solid hsl(212, 86%, 64%);
}

@media (max-width: 375px) {
  .header h1 {
    white-space: nowrap;
  }

  .header p {
    width: 85%;
    margin-top: 10px;
  }

  .cards {
    flex-direction: column;
  }

  .cards-column-one {
    width: 100%;
  }

  .cards-column-two {
    width: 100%;
  }

  .cards-column-three {
    width: 100%;
  }
}
